{{ template "header" . }}
{{ template "base_start" }}

<div class="spacing-1"></div>

<div class="brand">
    <div class="icon"></div>
    Zefir
</div>

<div class="spacing-1"></div>

<p class="quote">
    Zefir is a cutting-edge platform designed for seamless collaborative Minecraft experiences. With a user-friendly web UI, players can effortlessly search for others and join their worlds. The platform offers extensive customization options, allowing users to modify default settings, integrate mods, and enable cross-play across mobile and Java versions. Zefir is written in Go and leverages Kubernetes, along with a custom operator, to efficiently provision and manage Minecraft servers for an optimal gaming environment.
</p>

<div class="spacing-1"></div>

<div class="signin-signup">
    <a href="/signin">Sign In</a>
    <a href="/signup">Sign up</a>
</div>

{{ template "base_end" }}
{{ template "styles" . }}

